<div id="welcomeContainer" style="display: none;">
    <div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">YES</span>
        <span id="welcomeDescription">Welcome to the SakuraMC Launcher!</span>
        <br>
        <span id="welcomeDescCTA">The next page will ask you for credentials, if you do not have a Minecraft account, just fill an username</span>
        <span id="welcomeDescCTA">If you do not have a Minecraft account, make sure the username isn't used by somebody who does.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>